[Unit]
Description = Hermes - Linux service designed to automate the management of installed services
Requires = hermesd-dashboard.service
After = hermesd-dashboard.service

[Service]
ExecStart = python3 /hermesd/hermes.py &

[Install]
WantedBy = multi-user.target
