[Unit]
Description = Hermes - Linux service designed to automate the management of installed services
After = multi-user.target

[Service]
Type=forking
Restart = on-failure
ExecStart= /hermes/start.sh
TimeoutSec=0
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target